
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* scroll down to the comment where I put your names to write ur CSS code for ur html page to keep it organised*/


/* setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.active-page {
    color:green;
    font-weight: bold;
    text-decoration: none;
}


:root{
    --body-color: #ece4d5;
    --nav-color: #f3efe8;
    --side-nav: #314537;
    --text-color: #000000; 
    --search-bar:#314537;
    --search-text: #000000;
}

body{
    height: 100vh;
    background-color: var(--body-color);

}

nav{
    position: fixed;
    top:0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;

}

.nav-var.logo a::before{
    content:'';
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;

}

.nav-bar .nav-links li{
    margin: 0 10px;
    list-style: none; 

}

.nav-bar li a{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;

    
}

.nav-var.li a::before{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;

}

.nav-bar.darkLight-searchBox{
    display: flex;
    align-items: center;
}


/* Arek's code for tips.html */
/* write ur CSS code here*/




/* Jezza's code for events.html */
/* write ur CSS code here*/




/* Sifaath's code for aboutus.html */
/* write ur CSS code here*/





/* Duncan's code for home.html */
.container{
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    gap: 1em;
    margin: 2em 5em;
}



section{
    flex: 4;
    display: flex;
    gap: 1em;


}

.firstbox{
    flex: 1;
    border: 2px solid #ffffff;
    margin-top: 10em;

}

.firstbox h1{
    font-size: 43px;
    margin-bottom: 1em;
    margin-left: 2em;
    font-weight: 400;
}

.firstbox p{
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 4em;
}

.firstbox button{
    display: inline-block;
    font-size: 20px;
    background-color: #687c5f;
    color: white;
    text-decoration: none;
    border:none;
    border-radius: 90px;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 4em;
    
}

.secondbox{
    flex: 1;
    border: 2px solid #ffffff;

}

.img{
    width: 100%;

}

.container2 {
    position: relative;
    align-content: center;
}

.recycleIcon{
    position: absolute;
    top: 8px;
    margin-left: 6em;
    font-size: 50px;
    margin-top: 1.5em;
}

.energyLeafIcon{
    position: absolute;
    top: 8px;
    margin-left: 17em;
    font-size: 50px;
    margin-top: 1.5em;
}

.natureIcon{
    position: absolute;
    top: 8px;
    margin-left: 28em;
    font-size: 50px;
    margin-top: 1.5em;
}


@media (max-width: 1000px){
    section,
    .container.second section{
        flex-direction: column;
    }
    .container{
        margin: 1em 2em;
    }
    .firstbox h1{
    margin-left: auto;
    }

    .firstbox p{
    margin-left: auto;
    }

    .firstbox button{
    margin-left: auto;
    }

    .img{
        height: 600px;
    }
}



/* Duncan's code for resources.html */


