
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* scroll down to the comment where I put your names to write ur CSS code for ur html page to keep it organised*/


/* setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.active-page {
    color:green;
    font-weight: bold;
    text-decoration: none;
}


:root{
    --body-color: #ece4d5;
    --nav-color: #f3efe8;
    --side-nav: #314537;
    --text-color: #000000; 
    --search-bar:#314537;
    --search-text: #000000;
}

body{
    height: 100vh;
    background-color: var(--body-color);

}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC; 
    --search-bar:#242526;

}

nav{
    position: fixed;
    top:0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;

}



.nav-bar .nav-links {
    display: flex;
    align-items: center;

}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX();
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-bar .nav-links li{
    margin: 0 10px;
    list-style: none; 

}




.nav-links li:hover a::before{
    opacity: 1;

}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchBox{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchBox i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: auto;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: none;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchBox i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchBox.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchBox.active i.search{
    opacity: 0;
    pointer-events: none;
}


/* Arek's code for tips.html */
/* write ur CSS code here*/




/* Jezza's code for events.html */
/* write ur CSS code here*/




/* Sifaath's code for aboutus.html */
/* write ur CSS code here*/





/*----------------------- Duncan's code for home.html------------------------------- */
.container{
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    gap: 1em;
    margin: 2em 5em;
}



section{
    flex: 4;
    display: flex;
    gap: 1em;


}

.firstbox{
    flex: 1;
    border: 2px solid #ffffff;
    margin-top: 10em;
    color:var(--text-color);

}

.firstbox h1{
    font-size: 43px;
    margin-bottom: 1em;
    margin-left: 2em;
    font-weight: 400;
    color:var(--text-color);
}

.firstbox p{
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 4em;
    color:var(--text-color);
}

.firstbox button{
    display: inline-block;
    font-size: 20px;
    background-color: #687c5f;
    color: white;
    text-decoration: none;
    border:none;
    border-radius: 90px;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 4em;
    
}

.secondbox{
    flex: 1;
    border: 2px solid #ffffff;

}

/* banner */

.container2{
    display: flex;
    background-color: #687c5f;
    border: 2px solid #ffffff;
    min-height: 48vh;
    align-items: center;
    justify-content: center;

}

.banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #ffffff;
    gap: 1em;


    
}

.firstbannerCol{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border: 2px solid #ffffff;
    max-width: 400px;
}

.secondbannerCol{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border: 2px solid #ffffff;
    max-width: 400px;
}

.thirdbannerCol{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border: 2px solid #ffffff;
    max-width: 400px;
}

.recycleIcon{
    min-height: 50px;
    border: 2px solid #ffffff;
}

.bulbIcon{
    min-height: 50px;
    border: 2px solid #ffffff;
}

.treeIcon{
    min-height: 50px;
    border: 2px solid #ffffff;
}

.recycleInfo{
    font-size: 24px;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    border: 2px solid #ffffff;
    min-width: 10px;
    flex-wrap: wrap;

}

.bulbInfo{
    font-size: 24px;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.treeInfo{
    font-size: 24px;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}



@media (max-width: 1000px){
    section,
    .container.second section{
        flex-direction: column;
    }
    .container{
        margin: 1em 2em;
    }
    .firstbox h1{
    margin-left: auto;
    }

    .firstbox p{
    margin-left: auto;
    }

    .firstbox button{
    margin-left: auto;
    }

    .banner-content{
        flex-wrap:wrap;

    }

    .menu{
        position: fixedl;
        height: 100%;
        width: 320px;
        left: 0;
        top: 0;
        background-color: var(--side-nav);


    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 60px;

    }

    

}



/* Duncan's code for resources.html */


