
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* scroll down to the comment where I put your names to write ur CSS code for ur html page to keep it organised*/


/* setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

    

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.active-page {
    color:green;
    font-weight: bold;
    text-decoration: none;
}


:root{
    --body-color: #ece4d5;
    --nav-color: #f3efe8;
    --side-nav: #4b5248;
    --text-color: #000000; 
    --search-bar:#b0bbab;
    --search-text: #000000;
    --bannerbg: #687c5f;
    --reviewsbg: #687c5f;
    --contactbg: #64474c;
    

}

body{
    height: 100vh;
    background-color: var(--body-color);

}

body.dark{
    --body-color: #3f413e;
    --nav-color: #5b6159;
    --side-nav: #242526;
    --text-color: #CCC; 
    --search-bar:#242526;
    --bannerbg: #272727;
    --reviewsbg: #6e6e6e;
    --contactbg: #272727;

}

nav{
    position: fixed;
    top:0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;

}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;

}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;

}

.nav-bar .nav-links li{
    margin: 0 10px;
    list-style: none; 

}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}



.nav-links li:hover a::before{
    opacity: 1;

}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
    
}

.searchBox{
    position: relative;
    
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    
    
    
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
    
}





.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--search-bar) ;
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav .nav-bar .sidebarOpen{
        display: block;
        
    }
    


    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
        color: #ece4d5;
    }



    nav.active .menu{
        left: -0%;
        


    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
        
        
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ece4d5;
        
    }


    .logo-toggle .siderbarClose{
        color: #ece4d5;
        font-size: 24px;
        cursor: pointer;

    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
        

    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
        color: #ece4d5;
    }

    .menu .logo-toggle .logo a{
        color: #ece4d5;
    }

}



/* Arek's code for tips.html */
/* write ur CSS code here*/




/* Jezza's code for events.html */
/* write ur CSS code here*/




/* Sifaath's code for aboutus.html */
/* write ur CSS code here*/





/*----------------------- Duncan's code for home.html------------------------------- */
.container{
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    gap: 1em;
    margin: 2em 5em;
}



section{
    flex: 4;
    display: flex;
    gap: 1em;


}

.firstbox{
    flex: 1;
    border: 2px solid #ffffff;
    margin-top: 10em;
    color:var(--text-color);

}

.firstbox h1{
    font-size: 43px;
    margin-bottom: 1em;
    margin-left: 2em;
    font-weight: 400;
    color:var(--text-color);
}

.firstbox p{
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 4em;
    color:var(--text-color);
}

.firstbox button{
    display: inline-block;
    font-size: 20px;
    background-color: #687c5f;
    color: white;
    text-decoration: none;
    border:none;
    border-radius: 90px;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 4em;
    
}

.secondbox{
    flex: 1;
    border: 2px solid #ffffff;

}

/* banner */

.container2{
    display: flex;
    background-color: var(--bannerbg);
    border: 2px solid #ffffff;
    min-height: 48vh;
    align-items: center;
    justify-content: center;

}

.banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #ffffff;
    gap: 1em;


    
}

.firstbannerCol{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border: 2px solid #ffffff;
    max-width: 400px;
}

.secondbannerCol{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border: 2px solid #ffffff;
    max-width: 400px;
}

.thirdbannerCol{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border: 2px solid #ffffff;
    max-width: 400px;
}

.recycleIcon{
    min-height: 50px;
    border: 2px solid #ffffff;
}

.bulbIcon{
    min-height: 50px;
    border: 2px solid #ffffff;
}

.treeIcon{
    min-height: 50px;
    border: 2px solid #ffffff;
}

.recycleInfo{
    font-size: 24px;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    border: 2px solid #ffffff;
    min-width: 10px;
    flex-wrap: wrap;

}

.bulbInfo{
    font-size: 24px;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.treeInfo{
    font-size: 24px;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.container3{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    gap: 1em;
    margin: 2em 5em;
    margin-top: 6em;

}






.videobox{
    flex: 1;
    border: 2px solid #ffffff;
    color:var(--text-color);

}



.videosumbox{
    flex: 1;
    border: 2px solid #ffffff;
    align-items: center;
    

}

.videosumbox p{
    font-size: 20px;

    margin-left: 4em;
    margin-right: 4em;
    color:var(--text-color);
    text-align: center;
}

.container4{
    background-color:var(--reviewsbg);
    min-height: 80vh;
    width: 100%;
}

.contactcontainer{
    background-color:var(--contactbg);
    min-height: 80vh;
    width: 100%;
}


@media (max-width: 1234px){
    section,
    .container.second section{
        flex-direction: column;
    }
    .container{
        margin: 1em 2em;
    }
    .firstbox h1{
    margin-left: auto;
    }

    .firstbox p{
    margin-left: auto;
    }

    .firstbox button{
    margin-left: auto;
    }

    .banner-content{
        flex-wrap:wrap;

    }

    section,
    .container3.second section{
        flex-direction: column;
    }
    .container3{
        margin: 1em 2em;
        min-height: 60vh;
        
    }

    .videobox{
        margin-left: auto;
        margin-right: auto;
    }

    .videosumbox p{
        margin-left: auto;
        margin-right: auto;
        font-size: 17px;
    }


}



/* Duncan's code for resources.html */


